.price {
    font-size : 15px;
    font-weight : bold;
    text-align : right;
    width: 100%;
}

.price-color-default {
    color: blue;
}

.price-color-green {
    color: green;
}

.price-color-red {
    color: red;
}

.price-color-zero {
    color: lightgray;
    font-weight : normal;
}


