.text-48 {
    font-size: 48px;
    line-height: 1;
}

.green-color {
    color: #009b51;
}

.stat-card {
    height: 150px; 
    background-color: red;
}

.home-balance-chart ::deep .axis-label-x {
    display: none;
}
