# Copy this file to .env beside docker-compose-portainer.yml and set real values.
COMPTACLUB_DOMAIN=demo.compta.club
COMPTACLUB_DATABASE_PROVIDER=Sqlite
COMPTACLUB_CONNECTION_STRING=
COMPTACLUB_SMTP_PASSWORD=
COMPTACLUB_ADMIN_USER_EMAIL=admin@example.org
COMPTACLUB_CONTACT_EMAIL_ADDRESS=contact@example.org
COMPTACLUB_CONTACT_NAME=ComptaClub
COMPTACLUB_SMTP_HOST=smtp.example.org
COMPTACLUB_SMTP_PORT=587
COMPTACLUB_SMTP_USER_NAME=
COMPTACLUB_SMTP_ENABLE_SSL=true
COMPTACLUB_OTLP_ENDPOINT=http://otel-collector:4317
